div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: blokje;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Standard syntax */
@keyframes blokje {
    0%   {background-color:red; margin-left:0%; margin-top:0%;}
    25%  {background-color:yellow; margin-left: 90%; margin-top:0%;}
    50%  {background-color:blue; margin-left: 90%; margin-top: 90%;}
    75%  {background-color:green; margin-left:0%; margin-top :90%;}
    100% {background-color:red; margin-left:0%; margin-top:0%;}
}