body {
    text-align: center;
    background-color: lightgray;
}

h1{
    text-decoration: underline;
}

p{
    max-width: 40%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}