body {
    background-color: rgb(10, 44, 135);
    text-align: center;
}

h1 {
    color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 32px;
    background-color: rgb(6, 34, 109);
}

h2 {
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 16px;
    background-color: rgb(45, 82, 182);
}

p{
    color: white;
}

a{
    color: white;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(45, 82, 182);
}