/* BACKGROUND */

body {
    background-color: #1E1E1E;
}

.content {
    border-radius: 10px;
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
    margin-top: 25px;
    background-color: white;  
}

.contact{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background-color: #D8D8D8;  
}

/* HEADERS */
h3{
    text-align: center;
}

/* NAV BAR */

.nav{
    margin-top: 25px;
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
}

.nav ul {
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover{
    background-color: #111;
}

/* TABLE FROM THE MENU SECTION */
/* THIS WILL AFFECT THE SECTIONS SNACKS, HAMBURGERS... */

#Menu #small div{
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #333;
}

#Menu #small p:first-child{
    padding-top: 25px;
}

#Menu #small p:last-child{
    padding-bottom: 25px;
}

#small p{
    text-align: center;
    color: white;
}

/* TABLE FOR THE OPENINGS HOURS */

/* TODO */

/* MAP */

#map {
    margin: 0 auto 0 auto;
    height: 350px;
    width: 90%;
}

/* CONTACT */

form {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

/* ON PC */

#Menu #big div{
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #333;
}

#Menu #big .Row{
    border-radius: 10px;
    display: inline-block;
    background-color: #333;
    width: inherit;
    margin-right: 0px;
}

#Menu #big .Row div{
    border-radius: 10px;
    background-color: white;
    color: white;
    width: 75px;
    height: 75px;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    margin-left: 10px;   
    margin-right: 0px;
}

#Menu #big .Row div:last-child{
    border-radius: 10px;
    background-color: white;
    color: white;
    width: 75px;
    height: 75px;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;   
    margin-right: 10px;
}

#Menu #big .Row div p{
    color: black;   
}

#Menu #small .Row div p{
    color: black;   
    text-align: left;
}


/* FOTO PAGINA */
#FotoAlbum img{
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 65%;
    border-radius: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1{
    text-align: center;
}








/* NIEUW ADAPTIVE MENU */

#Menu #Adaptive div{
    display: block;
}

#Menu #adaptive .icon p{
    
}
#Menu #adaptive .name p{
    float: left;
    text-align: left;
    padding-right: 20px;
    line-height: 20px;
    color: red;
}
#Menu #adaptive .pric p{
    float: right;
    text-align: right;
    padding-right: 20px;
    line-height: 20px;
    color: orange;
}

#Menu #adaptive div{
    border-radius: 10px;
    background-color: pink;
    width: 200px;
    margin-left: 30px;
    display: inline-block;
    line-height: 0;
    word-wrap: break-word;
    text-align: left;
    position: relative;
}


















