/* Achtergrond */

body {
    background-color: #1E1E1E;
}

/* Alle headers en paragrafen */

h1 {
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    padding-top: 15px;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    color: black;
}

/* Algemene content van de pagina */

#content {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    margin-top: 25px;
    background-color: white;
    max-width: 800px;
}

/* Subcontent */

#subContent p, #subContent, .set{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
    background-color: #333;
    border-radius: 25px;
    color: white;
}

#subContent h3, table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Navigatie balk */

nav {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 800px;
}

nav ul {
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#huidig, .nav li a:hover {
    background-color: #111;
}

/* Menu gedeeldte */

#Menu div {
    border-radius: 25px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #333;
}

#Menu p:first-child {
    padding-top: 25px;
}

#Menu p:last-child {
    padding-bottom: 25px;
}

#Menu p{
    color: white;
}

/* Map */

#map {
    margin: 0 auto 0 auto;
    height: 350px;
    width: 90%;
}

/* Contact formulier */

form {
    display: block;
    text-align: center;
    margin-bottom: 25px;
}

/* Foto album */

#FotoAlbum img {
    display: block;
    margin: 0 auto;
    width: 65%;
    height: 65%;
    border-radius: 15px;
}

#FotoAlbum .set .des{
    text-align: center;
    color: white;
    margin-top: 15px;
}

/* Openingsuren */

#openingsuren .line {
    color: white;
    background-color: #333;
    margin-left: 19%;
    margin-right: 19%;
    border-radius: 10px;
    display: inline-block;
    width: 32%;
    padding-left: 15%;
    padding-right: 15%;
}

#openingsuren .line div{
    text-align: center;
}

#openingsuren .line .day{
    padding-left: 15px;
    float: left;
}

#openingsuren .line .time{
    padding-right: 15px;
    float: right;
}

#openingsuren p{
    color: black;
}

.newsArticle p {
    color: white;
}

.newsArticle table{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

/* Smartphone kleiner dan 550px breedte */

@media screen and (max-width: 550px) {
    
    /* Fotos beter */
    
    #FotoAlbum img {
        display: block;
        margin: 0 auto;
        width: 95%;
        height: 95%;
        border-radius: 15px;
    }
    
    #FotoAlbum .set, .newsArticle{
        background-color: #333;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
   
    /* Content groter */
    
    #content {
        border-radius: 10px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        margin-top: 25px;
        background-color: white;
    }
    
    /* Nav groter */
    
    nav {
        margin-top: 25px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    
    /* Nieuws articles groter */
    
    .newsArticle table{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
    
}



